* {
    font-family: 'Courier New', Courier, monospace;
}

/* Esto es para móvil (por defecto) */
.contenedor {
  width: 50%;
  padding: 10px;
  background-color: orange; 
}

/* Ordenadores (1024px+) */
@media (min-width: 1024px) {
    .contenedor {
    background-color: orange;
    padding: bold;
    position: relative;
}

.pie {
    width: 30%;
    padding: 50px 50px;
    border: 2px solid black;
    box-sizing: border-box;
    position: absolute;
}


.enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    gap: 16px;
}

ul {
    display: flex;
    gap: 36px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;
    color: red;
}

}



