* {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

/* Esto es para móvil (es lo que se debe tocar primero) */
.contenedor {
  width: 50%;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5; 
}
.contenedor a:hover {
    color: green;
}

/* Para ordenadores (1024px+) */
@media (min-width: 1024px) {
    .contenedor {
    padding: bold;
    position: relative;
}

.pie {
    width: 30%;
    padding: 50px 50px;
    border: 2px solid black;
    box-sizing: border-box;
    position: absolute;
}


.enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    gap: 16px; 
}

a:hover {
  color: green;
}

ul {
    display: flex;
    gap: 36px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium;
    color: red;
}

}